



.canarilist{
    
    margin-inline: 50px;
    margin-top: 20vh;
    display : grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,270px));
    justify-content: center;
}

.bbreadcrumbs{
    text-align: center;
}

.btnpag{
    background-color: burlywood;
    color:sienna;
    border-radius: 50%;
    border: 1px solid sienna;
    
}

.filterbox{
    display: grid;
    grid-template-columns: 270px auto;
}

.pricebox{
    position:sticky;
    top:2rem;
    margin-top: 16vh;
    margin-left: 20px;
    background-color: burlywood;
    height: 600px;
    
}



.pricebox h2{
    color: #5A4E23;
    margin-bottom: 10px;
    font-size: 16px;
}

.groupe{
    margin-top: 16px;
}

.groupe h2{
    display: inline-block;
}

.cstm{
    color: #5A4E23;
    display: inline-block;
    margin-right: 8px;
}

.pricebox p{
    margin-bottom: 5px;
}

.pagination{
    text-align: center;
}

.pagination button{
    margin: 30px;
    height: 30px;
    width: 50px;
}

.filterbottom{
    display: none;
}
.closebtn{
    display: none;
}

@media only screen and (max-width: 600px) {
    .filterbox{
        display: block;
        
    }
    .pricebox{
        position: fixed;
        top: auto;
        bottom: -100%;
        width: 100%;
        margin-left: 0px;
        text-align: center;
        padding-inline: 20px;
        border-radius: 15px 15px 0px 0px;
        height: 300px;
        transition: 1s;
    }
    .canarilist{
        display : block;
        margin-inline: 100px;
        margin-top: 20vh;
        
    }
    .filterbottom{
        display: block;
        width: 100%;
        text-align: center;
        background-color: white;
        position: fixed;
        bottom:0;
        padding-block: 10px;
        border-radius: 15px 15px 0px 0px;
        box-shadow: 0px 0px 3px black;

    }
    .filterbottom button{
        color: white;
        background-color: #18A558;
        padding: 7px 25px;
        border-radius: 20px;
        border: none;
    }
    .closebtn{
        display: block;
        position: relative;
        height: 25px;
    }
    .closebtn button{
      position: absolute;
      right: 5px;
      top: 5px;
    }
}