.log > div{
  
  border-radius: 5%;
  padding: 30px;
}

.log h1{
    font-size: 1.4em;
    font-weight: 400;
    margin: 25px 0;
}

.log{
    margin-top: 25vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 70px;
    grid-gap: 50px;

}

.innerdivv1{
    background-color: white;
    box-shadow: 0 0 8px #BFBFBF;
    width: 300px;
    padding: 30px;
}

.forgotten {
    color: #338A91;
    text-decoration: underline;
}

.innerdivv2 > p {
    color: #767676;
    }

.innerdivv2{
    background-color: white;
    box-shadow: 0 0 8px #BFBFBF;
    width: 300px;
    padding: 30px;
}

.log div:nth-child(2) button{
    padding: 15px 30px;
    margin: 15px 0;
    border: none;
    border-radius: 20px;
    background-color: #68C05A;
    color: white;
}

.log div:nth-child(1) input[type=submit]{
    padding: 15px 30px;
    margin: 15px 0;
    border: none;
    border-radius: 20px;
    background-color: #68C05A;
    color: white;
}
.log div:nth-child(1) input[type=submit]:active{
    padding: 15px 30px;
    margin: 15px 0;
    border: none;
    border-radius: 20px;
    background-color: #2b4e25;
    color: white;
}

.errormessage{
    color: red;
}
.inputicons{
    padding: 30px 30px;
    
    
    
}
.inputField{
    border: none;
    background-color: #F2F2F2;
    
}
.icon{
    color: grey;
    margin-right: 5px;
}

@media only screen and (max-width: 600px) {
    .log{
        display: block;
        padding-inline: 0;
    }
    .innerdivv1{
        width: 100%;
        
    }
    .innerdivv2{
        width: 100%;
        
    }
}