@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@font-face {
    font-family: 'ambarella';
    src: url(../fonts/Ambarella.ttf);
}

.quisn{
    margin-top: 20vh;
}
.quisn h1{
    font-size:62px;
    font-family: 'Shadows Into Light';
    color:indianred;
    text-align: center;
}

.desc{
    margin-top: 60px;
    position : relative ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.desc img{
    margin-left: 30px;
    position: absolute;
    height: 300px;
    width: 300px;
    /* border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px; */
    
    top: 0;
    left: 0;
}

.desc ul{
    list-style-type: none; 
}
.desc p:nth-child(2){
    border-left: 3px solid #68C05A;
    padding-left: 5px;
}

p.c{
    white-space: pre;
}