.outerdiv{
    margin-inline: 120px ;
    position: relative;
    height: 100vh;
}

.outerdiv img{
    position: absolute;
    bottom: 80px;
    right: 50px;
    height: 50%;
    width:50% ;
    }
.title1{
    position: absolute;
    top: 50px;
    left: 50px;
}
.description1{
    position: absolute;
    top: 150px;
    left: 50px;
}

.description1 p{
    margin: 15px;
}


@media only screen and (max-width: 600px) {
    .outerdiv{
        display: block;
        text-align: center;
        margin-inline: 50px ;
    }
    .outerdiv img{
        position: static;
        margin-top: 100px;
        height: auto;
        width:100% ;
        object-fit: fill;
        }
    .title1{
        position: static;
        }
    .description1{
        position: static;
        }    
}

