.bluepara{
    color: #00737A;
    font-weight: 700;
    font-size: large;
  }
.custom2{
    position: absolute;
    top: 60px ;
    left: 100px ;
  }
 
  .outerdiv2{
    position: relative;
    height: 100vh;
}

.image2{
  margin-left: 300px;
}

@media only screen and (max-width: 600px) {
  .image2{
    width: 100%;
    height: 100%;
    margin-left: 0px;
    object-fit: fill;
  }
  .custom2{
    text-align: center;
    position: relative;
    top: 0px ;
    left: 0px ;
  }
}