@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');


$clr-primary: red;
$clr-primary-hover: #fce4ec;
$clr-primary-dark: #ec407a;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$radius: 0.2rem;

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family:'Inter', sans-serif ;
}
.nav1 button {
  color: #54853D;
  text-align: right;
  font-size: 0.8em;
  padding: 10px;
  padding-right: 30px;
}

.nav1{
  display: flex;
  justify-content: right;
  height: 7vh;
  background-color: aquamarine;
}

.nav1 > img{
  margin-top: 8px;
  margin-right:23px;
  height: 22px;
  width: 22px;
  cursor: pointer;
}

.langue{
  margin-right: 18px;
  display: flex;
  justify-content: space-between;
}

.langue p{
  color: #54853D;
  margin-top: 11px;
  cursor: pointer;
  }

  .langue i{
    margin-right: 5px;
    color: #54853D;
    margin-top: 7px;
    cursor: pointer;
    }

  .langul{
    visibility: hidden;
    position: absolute;
    top: 40px;
    background-color: white;
    padding-inline: 15px;
    padding-block: 5px;
    z-index: 999;
  }

  .langul li {
    list-style: none;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .langul li:hover{
    color: red;
  }

  .langue:hover .langul{
    visibility: visible;
  }



.nav2{
  height: 18vh;
  background-image: url("../img/Bird2.jpg");
  background-size: 100% 100%;
  position: relative;
}



.nav1 > i{
  
  margin-top: 20px;
  margin-right: 20px;
  color: #54853D;
  cursor:pointer;
}
.nav1 > i:hover, .nav1 > i:hover p{
  
color:red
}

.nav1 > i > p{
  color: #54853D;
  margin-left: 30px;
  font-size: 14px ;
  
}

.nav2 > p {
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  position: absolute;
  top: 35px;
  left: 50px;
  font-size: 2em;
  font-weight: 600;
  cursor: pointer;
}

.nav2 span {
  color: #4FFF11;
}

.nav2 input {
  background-image: url(../img/search.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding: 12px 30px;
  border-radius: 50px;
  border: 3px solid #b5cc21;
  // position: absolute;
  // right: 20px;
  // top: 47px;
}
input:focus{
  outline: none;
}

.searchcontainer{
  width: 280px;
  z-index: 100;
  position: absolute;
  right: 20px;
  top: 47px;
}

.dropdown{
  margin-top: 4px;
  z-index: 100;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px #888888;
}
.dropdown p{
  cursor:pointer;
  margin-block: 10px;
}

.dropdown p:hover{
  color:#338A91;
  font-weight: 600;
}

.linkstyle{
  z-index: 0;
  text-decoration: none;
  color: yellowgreen;
  
}








// .nav3{
//   background-color: #60A355;
//   height: 10vh;
//   padding: 15px 30px;
// }

// .nav3 ul {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// .nav3 ul li{
//   list-style: none;
// }

// .nav3 ul li a{
//   text-decoration: none;
//   color: white;
// }

// .nav3 ul li a:hover{
  
//   color: red;
// }

.nav__listitem > p{
  color:white
}



.nav {
  
  width: 100%;
  background-color: #60A355 ;
  
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;
    

    

    &item {
      list-style: none;
      position: relative;
      padding: 1.5rem 1rem;
      cursor: pointer;
      

      &:hover::after {
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;
        position: absolute;
        left: 1rem;
        bottom: 0.8rem;
        background-color: yellowgreen;
        margin-left: 40%;
        // transition: width 200ms ease-in;
      }

      

      &:hover ul,
      &:focus ul {
        opacity: 1;
        visibility: visible;
      }

      &drop {
        z-index: 3;
        position: absolute;
        top: 4rem;
        left: -1rem;
        box-shadow: 0 0 10px $clr-gray300;
        background-color: white;
        border-radius: $radius;
        width: 12rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity 200ms ease-in-out;

        li {
          list-style: none;
          padding: 0.5rem 1rem;
          border-radius: $radius;
          transition: background-color 200ms ease-in-out;

          &:hover,
          &:focus {
            background-color: $clr-primary-hover;
          }
        }
      }
    }
  }
}
.hamenu{
  display: none;
}

@media only screen and (max-width: 740px) {
  .nav2{
    text-align: center;
  }
  .nav2 > p {
    position: static;
    
  }
  .searchcontainer{
    position: static;
    margin: auto;
  }

  .hamenu{
    display: block;
    padding: 5px;
    text-align: center;
  }
  .nav__list{
    display: block;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height 1s;
    
  }
  
}




